@model List<Level>

@{
    ViewData["Title"] = "Levels";
}

<div class="row">
    <div class="col">
        <table id="level-table" class="table">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model[0].Name)</th>
                    <th data-orderable="false"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var level in Model)
                {
                    <tr>
                        <td>@level.Name</td>
                        <td>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
