<div id="upload-modal"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="upload-label"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="upload-label" class="modal-title">Upload</h5>
                <button class="close"
                        type="button"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-area="Admin"
                  asp-controller="@(ViewBag.ExecutedController.Name.Replace("Controller", string.Empty))"
                  asp-action="Upload"
                  enctype="multipart/form-data"
                  method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="custom-file">
                            <input id="fileInput"
                                   class="custom-file-input"
                                   type="file"
                                   name="file">
                            <label class="custom-file-label"
                                   for="fileInput">Choose file</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Upload</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
