@model World

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col">
        <form asp-action="Edit">
            <div class="card">
                <h5 class="card-header">@Model.GetType().Name</h5>
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Time" class="control-label"></label>
                        <input asp-for="Time" class="form-control" />
                        <span asp-validation-for="Time" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <button class="btn btn-primary"
                                    type="submit">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section ToolbarActions {
    <a class="btn btn-secondary" asp-action="Index">Return</a>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
